.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background: cadetblue;
}
@keyframes anim{
  0% {
    transform: rotate(3deg) scale(1, 1);
  }
  25% {
    transform: rotate(20deg) scale(1, 0.95);
  }
  50% {
    transform: rotate(-30deg) scale(1, 1);
  }
  75% {
    transform: rotate(0deg) scale(1, 0.95);
  }
  100% {
    transform: rotate(3deg) scale(1, 1);
  }
}
@keyframes anim2{
  0% {
    transform: rotate(3deg) scale(1, 1);
  }
  25% {
    transform: rotate(10deg) scale(1.10, 1.10);
  }
  50% {
    transform: rotate(-10deg) scale(1, 1);
  }
  75% {
    transform: rotate(0deg) scale(1, 1.0.6);
  }
  100% {
    transform: rotate(3deg) scale(1, 1);
  }
}
.principal {
  position: relative;
  width: 100%;
  height: 100vh;
}
.principal2 {
  position: fixed;
  background: teal;
  width: 100%;
  z-index: 2;
}
.menu2-principal {
  position: relative;
  background: burlywood;
}
.poke {
  width: 100%;
  max-height: 100vh;
  flex-direction: column;
  z-index: -2;
}
.unico {
  position: relative;
  margin-bottom: 70px;
  top: 30px;
  border-radius: 10px;
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  filter: drop-shadow(10px 2px 0px rgba(0, 0, 0, 0.2));
}
.unico2 {
  position: relative;
  top: 80px;
  border-radius: 10px;
  animation-name: anim2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  filter: drop-shadow(10px 15px 2px rgba(0, 0, 0, 0.2));
}
button{
  border: none;
  background: none;
}
.texto {
  position: relative;
  top: -20px;
  font-size: 17px;
  color: black;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.alinea {
  position: relative;
  display: flex ;
  justify-content: center;

}
.texto2 {
  position: relative;
  margin-top: 120px;
  font-size: 27px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  padding: 5px;
} 
.nom {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  
  background:crimson;
  box-shadow: 0px 0px 6px 5px plum;
  border-radius: 10px;
}
.llista-pokemones {
  position: relative;
  padding-block-end: 170px;
}
.Pokemones {
  position: relative;
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 6px aqua;
  margin-right: 10px;
  background: paleturquoise;
  border: solid 3px grey;
  top: 90px;
  overflow: hidden;
  margin-bottom: 15px;
}
.botones {
  position:fixed;
  margin-top: -80px;
  background: teal;
  width: 100%;
  height: 80px;
}
.alini {
  position: relative;
  top: 8px;
  display: flex;
  justify-content: space-between;
}
.face {
  position: relative;
  background:none;
  border: none;
  left: 15%;
}
.pika:hover{
  image-orientation: flip;
  transition: 4s;
  border-radius:50%;
  box-shadow: 0px -4px 6px 5px aqua;
}
.twi {
  position: relative;
  background: none;
  border: none;
}

.coches:hover{
  image-orientation: flip;
  transition: 4s;
  border-radius:50%;
  box-shadow: 0px -4px 6px 5px aqua;
}
.store {
  position: relative;
  border: none;
  background: none;
  right: 15%;
}
.cine:hover{
  image-orientation: flip;
  transition: 4s;
  border-radius:50%;
  box-shadow: 0px -4px 6px 5px aqua;
}

.retrato {
  position: relative;
  background: rgb(202, 42, 74);
  box-shadow: 0px 0px 5px 8px whitesmoke;
  height: 800px;
  margin: 20px;
  border-radius: 10px;
  top: 100px;
  
}

.grass {
  color: lawngreen;
  background: darkgreen;
  border-radius: 10px;
  padding: 6px;
  padding-left: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 10px;
  box-shadow: 0px 0px 5px 5px limegreen;
  padding-top: 0;
}

.poison {
  color: violet;
  background: purple;
  border-radius: 10px;
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 5px 5px mediumpurple;
  padding-top: 0;
}
.fire {
  color: white;
  background: orangered;
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 25px;
  box-shadow: 0px 0px 5px 5px orange;
  padding-top: 0;
}
.flying {
  color: white;
  background: rgb(251, 146, 0);
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: 25px;
  box-shadow: 0px 0px 5px 5px orangered;
  padding-top: 0;
}
.water {
  color: aqua;
  background: darkcyan;
  border-radius: 10px;
  padding: 6px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 5px 5px darkseagreen;
  padding-top: 0;
}
.bug {
  color: rgb(255, 250, 250);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:saddlebrown;
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 5px 5px maroon;
  padding-top: 0;
}
.electric {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  background:rgb(232, 176, 37);
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 6px 5px yellow;
  padding-top: 0;
}
.normal {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: darkslateblue;
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 6px 5px violet;
  padding-top: 0;
}

.ground {
  color: blanchedalmond;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: darkgoldenrod;
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 6px 5px olive;
  padding-top: 0;
}
.fairy {
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: pink;
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 6px 5px papayawhip;
  padding-top: 0;
}
.fighting {
  color: khaki;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: sienna;
  border-radius: 10px;
  padding: 6px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0px 0px 6px 5px khaki;
  padding-top: 0;
}






